body {
  background-color: #061E44;
  background-image: url('dashboard-shot-blur.png');
  font-family: 'proxima-nova', sans-serif;
}

h6 {
  margin-top: 0;
}


/* position the content relative to the collapsed sidebar */
.content {
  margin-left: 1rem;
  margin-right: 2rem;
  padding: 2rem 1rem;
}

/* Sign in container start*/
.main {
  background-color: #FFFFFF;
  width: 400px;
  height: 400px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.sign {
  text-align: center;
  padding-top: 40px;
  color: #FF0000;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.un {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;
}

.un:focus, .pass:focus {
  border: 2px solid rgba(0, 0, 0, 0.18)
!important;
  }

/* Sign in container start*/




.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.app__container {
    margin: 3.125% 5.125%;
}

.app__header {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.app__header__title {
    letter-spacing: 0.23rem;
}

.app__header__title--grey {
    color: #C4CDD5;
}

.app__footer--grey {
    color: #C4CDD5;
    box-sizing: border-box;
    display: block;
    float: none
    line-height: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: auto;
    font-family: "helvetica";
}

.app__menu__img {
    height: 32px;
    width: auto;
}

.app__content {
    display: flex;
    margin-top: 20px;
}

.wind__speed__container {
    display: flex;
    flex-direction: column;
    background-color: #082255;
    border-radius: 0.55rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    align-content: center;
}

.graph__title {
    color: #fff !important;
    letter-spacing: 0.3rem !important;
    padding: 25px 25px 0px 25px;
    margin-bottom: 0px !important;
    font-size: 1em;
}

.slider {
    padding: 15px;
}

.auto__checkbox {
    margin-right: 10px;
}

.auto__label {
    color: #DFE3E8;
}

.auto__container {
    display: flex;
    justify-content: space-between;
    color: #DFE3E8;
    padding: 0px 15px;
}

.auto__p {
    margin-bottom: 0;
}

.graph__container {
    background-color: #082255;
    border-radius: 0.55rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.first {
    margin-bottom: 15px;
}

.second {
    margin-top: 15px;
}

.histogram__direction {
    margin-left: 15px;
}

#wind-direction {
    display: flex;
    justify-content: center;
}

.footer_background {
    background-color: #000000;
}

@media only screen and (max-width: 600px) {
    .histogram__direction {
        margin: 15px 0px 20px 0px;
    }
    .app__content {
        display: block;
    }

    .app__header {
        display: flex;
        flex-direction: column;
    }
    .app__header__desc {
        order: 1;
        text-align: center;
    }
    .app__menu__img {
        height: 30px;
        width: auto;
    }
    .app__header__logo {
        order: 0;
    }
    .app__header__title {
        font-size: 1.5em;
        padding-top: 15px;
    }
}

.app__footer__img {
    box-sizing: border-box;
    display: inline-block;
    float: none;
    line-height: 24px;
    position: static;
    z-index: auto;
}
